.chip {
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-color: #e8e8e8;
  padding: .3833em .433em;
  color: rgba(0,0,0,.6);
  text-transform: uppercase;
  font-size: .75714286rem;
  border-radius: .28571429rem;
}
